/* CanvasGuides.css */
.canvas-guides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 15;
}

.guide {
    position: absolute;
    background-color: #3b82f6;
    /* Blue-500 */
    pointer-events: auto;
    cursor: pointer;
}

.guide.horizontal {
    width: 100%;
    height: 1px;
    cursor: ns-resize;
}

.guide.vertical {
    width: 1px;
    height: 100%;
    cursor: ew-resize;
}

.guide-remove {
    position: absolute;
    display: none;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 10px;
    line-height: 1;
    cursor: pointer;
}

.guide:hover .guide-remove {
    display: flex;
    align-items: center;
    justify-content: center;
}