.custom-checkbox-container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
    color: #374151;
}

.custom-checkbox-container.disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.custom-checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    transition: all 0.2s;
}

.custom-checkbox-container:hover input~.checkmark {
    background-color: #f3f4f6;
}

.custom-checkbox-container input:checked~.checkmark {
    background-color: #4f46e5;
    border-color: #4f46e5;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox-container input:checked~.checkmark:after {
    display: block;
}

.custom-checkbox-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}